page-login {
  .top {
    //margin:20px;
    padding: 50px 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: darkcyan;
    img {
      width: 100px;
      height: 100px;
    }

  }
  .submit-button {
    margin-top: 20px;
  }

}
