<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="topsection">
    <div class="img-container">
      <img [src]="imagepath"/>
    </div>
    <ion-title>{{driver.lastname +" "+ driver.firstname}}</ion-title>
    <p>@{{driver.username}}</p>
    <p>{{driver.email + " ("+ driver.phone+ ")"}}</p>
    <ion-note>{{driver.desc}}</ion-note>

  </div>
  <div class="mid"></div>
  <div class="bottom">
    <ion-list>
      <button ion-item>
        Assigned Car
        <div class="item-sec" item-right="">{{carname}}</div>
      </button>
      <button ion-item>
        Total Deposit
        <div class="item-sec" item-right="">{{'N'+totalTrans+'.00'}}</div>
      </button>
      <button ion-item>
        Next Payment
        <div class="item-sec" item-right="">{{nextpay}}</div>
      </button>

      <ion-item-group *ngIf="transactions">
        <ion-item-divider color="light">Latest Transactions</ion-item-divider>
        <ion-item *ngFor="let trans of transactions; let i = index">
          {{'N'+trans.amount + '.00'}}
          <div class="item-sec" item-right="">{{trans.created |dataformat}}</div>
        </ion-item>
      </ion-item-group>

    </ion-list>
  </div>
</ion-content>
